<mat-toolbar color="primary" class = "header">
    <img src='../favicon.ico'>
    <span>MerryMerry</span>
</mat-toolbar>

<div class="app">
    <mat-card class="step-1">
        <h2 title="Wybierz swoje imię">Krok 1</h2>
        <mat-form-field appearance="fill" >
            <mat-label>Wybierz swoje imię</mat-label>
            <mat-select matNativeControl required [(value)]="currentUserName">
                <mat-option value="karolina">Karolina</mat-option>
                <mat-option value="mateusz">Mateusz</mat-option>
                <mat-option value="iza">Iza</mat-option>
                <mat-option value="radek">Radek</mat-option>
                <mat-option value="ania">Ania</mat-option>
                <mat-option value="lukasz">Łukasz</mat-option>
                <mat-option value="ilona">Ilona</mat-option>
                <mat-option value="robert">Robert</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
    <mat-card class="step-2" *ngIf="currentUserName">
        <h2 title="Losuj osobę">Krok 2</h2>
        <app-draw-component [drawingUserName]="currentUserName"></app-draw-component>
    </mat-card>
    <mat-card class="step-3" *ngIf="currentUserName">
        <h2 title="Wpisz swoją listę prezentów i wciśnij przycisk 'Wyślij'">Krok 3</h2>
        <form class="form wish" #form="ngForm" (ngSubmit)="sendData(form.value)">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Wpisz listę prezentów</mat-label>
                <textarea matInput placeholder="napisz tutaj co chcesz dostać" ngModel required name="wishList"></textarea>
            </mat-form-field>
            <button mat-raised-button color="warn">Wyślij</button>
        </form>
    </mat-card>
    <mat-card class="step-4" *ngIf="currentUserName">
        <h2 title="Wpisz klucz, który zobaczyłeś dla osoby, którą wylosowałeś by podejrzeć jej listę prezentów">Krok 4</h2>
        <app-see-wish-list-form></app-see-wish-list-form>
    </mat-card>
</div>

<mat-toolbar color="primary" class="footer">
</mat-toolbar>

<!-- <button class="reset-button" mat-raised-button color="primary" (click)="clearDrawingData()">DEBUG: Reset all</button> -->