.app {
  position: relative;
  float: center;
  display: block;
  justify-content: center;
  align-items: center;
  /* flex:1; */
  padding: 1.5%;
}

.footer {
  position: static;
  bottom: 0;

  display: none;
}

.reset-button {
  background-color: #FFD7C2;
  position: fixed;
  bottom: 10px;
  right: 20px;
}