<form class="form list" #seeListForm="ngForm" (ngSubmit)="getUserWishes(seeListForm)">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Wprowadź klucz</mat-label>
        <input matInput ngModel name="secretKey" required />
    </mat-form-field>
    <button mat-raised-button color="primary">Sprawdź</button>
</form>

<div class="wish list">
    <p *ngIf="userWithWishesName">{{userWithWishesName}} chce dostać:</p>
    <div [innerHtml]="wishes"></div>
</div>