<button mat-raised-button color="primary" (click)="draw()">Losuj!</button>
<br/><br/>
<div class = "draw already-drawn" *ngIf="userAlreadyHasDrawn">
    <mat-card>
        <mat-card>
            <h4 style="color: red;">Już losowałeś(aś)!</h4>
            <p>
                Jeśli nie pamiętasz kogo to odezwij się do Mateusza ale w takim wypadku musimy losować od nowa bo nie 
                zapisuję nigdzie kto kogo wylosował...
            </p>
        </mat-card>
        <mat-card>
            <p>
                Wpisz co chciałbyś(abyś) dostać w następnym kroku i wyślij lub przejdź do ostatniego kroku by podejrzeć
                listę
                prezentów osoby, którą wylosowałeś(aś) używając kodu.
            </p>
        </mat-card>
    </mat-card>
</div>

<div class = "draw" *ngIf="drawnUserName && !userAlreadyHasDrawn">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Twój los to: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="draw user-name">
                <h2>{{drawnUserNameUpper}}</h2>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
            <mat-card-header>
                <mat-icon aria-hidden="false" title="Potrzebne do kroku 4. Zapisz sobie!" aria-label="Potrzebne do kroku 4. Zapisz sobie!">notification_important</mat-icon> 
                <mat-card-title>
                    Klucz do podglądania listy prezentów: <p style="color: red;">ZAPAMIĘTAJ!</p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="draw secret-key">
                    <h1 style="color: red;">{{secretKey}}</h1>
                </div>
            </mat-card-content>
    </mat-card>
</div>